<div id='destinations' class='destinations'>
    <div class="container">
        <h1>Tourist Attractions</h1>
        <p>Best of the North India  </p>
        <div class="img-container">
            <img class='span-3 image-grid-row-2' src="../../assets/punjab.jpg" alt="/"/>
            <img src="../../assets/chandi.jpg" alt="/"/>
            <img src="../../assets/delhi.jpg" alt="/"/>
            <img src="../../assets/up.jfif" alt="/"/>
            <img src="../../assets/raj.jpg" alt="/"/>
        </div>
    </div>
</div>