<div>
    <h1 class="cityname">{{selectedCity}}</h1>
</div>

<div class="cards">
    <div class="Container">
        <img  class="hotelImage" src="https://i.pinimg.com/originals/f0/12/f9/f012f9e7ed92845bff797bc25a11a769.jpg"/>
        <p>Name - Hotel </p>
        <p>Address - </p>
    </div>
    
    <div class="Container">
        <img  class="hotelImage" src="https://i.pinimg.com/originals/f0/12/f9/f012f9e7ed92845bff797bc25a11a769.jpg"/>
        <p>Name - Hotel </p>
        <p>Address - </p>
    </div>
    
    <div class="Container">
        <img  class="hotelImage" src="https://i.pinimg.com/originals/f0/12/f9/f012f9e7ed92845bff797bc25a11a769.jpg"/>
        <p>Name - Hotel </p>
        <p>Address - </p>
    </div>
    
    <div class="Container">
        <img  class="hotelImage" src="https://i.pinimg.com/originals/f0/12/f9/f012f9e7ed92845bff797bc25a11a769.jpg"/>
        <p>Name - Hotel </p>
        <p>Address - </p>
    </div>
    
    <div class="Container">
        <img  class="hotelImage" src="https://i.pinimg.com/originals/f0/12/f9/f012f9e7ed92845bff797bc25a11a769.jpg"/>
        <p>Name - Hotel </p>
        <p>Address - </p>
    </div>
    
    <div class="Container">
        <img  class="hotelImage" src="https://i.pinimg.com/originals/f0/12/f9/f012f9e7ed92845bff797bc25a11a769.jpg"/>
        <p>Name - Hotel </p>
        <p>Address - </p>
    </div>
</div>